/* Variables */
:root {
    /* --purplish: rgb(75, 16, 131) ; */
    --deep: rgb(13, 13, 68) ;
    --silver: silver ;
}

/* element selectors */


body {
    background-color: grey ;
}

h1 {
    color: white ;
}

ul {
    margin: auto ;
    height: 75px ;
    display: flex ;
    align-items: center ;
    /* position: fixed ; */
}

ul li {
    display: inline ;
    margin: 15px ;
    font-size: x-large ;
}

ul li a {
    color: black ;
}

header {
    background-color:  var(--silver);
    /* position: fixed ;
    width: 100% ; */
    
}

header h1 {
    display: inline ;
    margin-right: 10px ;
    color: white ;
}

nav {
    display: inline-block ;
    margin: 0 auto ;
    display: flex ;
    justify-items: center ;
    /* position: fixed ; */
}

/* header div {
    position: absolute ;
    display: flex ;
    align-items: center ;
    background-color: var(--deep) ;
    width: 175px ;
    height: 75px ;
} */

#portfolio-div {
    position: absolute ;
    display: flex ;
    align-items: center ;
    background-color: var(--deep) ;
    width: 120px ;
    height: 75px ;
}

#portfolio-div h1 {
    margin-left: 10px ;
}

#contact-div h1 {
    margin-left: 10px ;
}

#contact-div a {
    color: white ;
}

#contact-div {
    position: absolute ;
    right: 0 ;
    background-color: var(--deep) ;
    display: flex ;
    align-items: center ;
    width: 175px ;
    height: 75px ;
}

section {
    display: flex ;
    justify-content: center ;
    flex-wrap: wrap ;
}

section article {
    background-color: var(--deep) ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    border: solid ;
    border-width: 3px ;
    border-color: black ;
    margin: 10px ;
    height: 500px ;
    width: 700px ;
}

article p {
    background-color: white ;
    margin: 0 ;
    text-align: center ;
    font-size: large ;
}

article h2 {
    background-color: white ;
    margin: 0 ;
    text-align: center ;
}

article img {
    padding: 3px ;
    background-color: white ;
    margin:40px
}

footer img {
    width: 50px ;
    margin-left: 20px ;
    margin-right: 20px ;
    height: 50px ;
}

footer {
    background-color: var(--silver) ;
}

footer div {
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

/* class slectors */
.icon {
    /* margin-top: 15px ; */
    margin-bottom: 15px ;
}

/* id slectors */

#contact {
    color: black ;
    text-align: center ;
    /* padding-top: 50px ; */
    margin-bottom: 0px ;
}

#web-app {
    display: flex ;
    justify-content: center;
}

#annotation {
    color: white ;
    margin-top: 10px ;
}

#annotation a {
    color: teal ;
}

#giticon {
    background-color: white ;
    border-radius: 100% ;
}

#portrait {
    width: 50px ;
    /* border-radius: 100% ; */
}

#web-app {
    background-color: teal ;
}

#data-projects {
    background-color: teal ;
    display: flex ;
    justify-content: center;
}

#py-projects {
    background-color: teal ;
    display: flex ;
    justify-content: center ;
}

#a1 img {
    width: 200px ;
    margin: 12px ;
    padding: 3px ;
    background-color: white ;
}

/* #a2 img {
 
} */

#a3 img {
    height: 325px ;
}

/* .code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
rgba(232, 102, 236, 1), 0 0 15px
rgba(232, 102, 236, 1) ;
} */

article:hover {
    box-shadow: inset 0px 0px 8px 
    rgb(107, 213, 240), 0 0 15px 
    rgb(107, 213, 240);
}